*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.video-container{
    background-color: black;
}

.video-element{
    opacity: 0.5;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bolder;
    align-items: center;
    position: fixed;
    bottom: 400px;
    color: black;
    width: 100%;
    font-family: "Playball";
}

.nav-link{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 80px; 
}

.logo-container{
    display: flex;
    align-items: center;
    gap: 4px;
}

.playball-regular {
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .main-container{
    height: 160vh;
    background-color: rgb(206, 239, 127);
  }

  .mango-container{
    width: 80%;
    height: 689px;
    background-color: rgb(108, 177, 108);
    margin: auto;
    position: relative;
    top: 80px;
    border-radius: 40px;
    padding:20px ;
  }

.mango-elements-container{
    padding: 40px;
    display: flex;
    flex-wrap:wrap ;
    gap:20px ;
    margin-left: 40px;
}

  .mango-elements{
    width: 30%;
    height: 270px;
    background-color: white;
    border: 2px solid red;
    box-shadow: 5px 10px 5px rgb(218, 218, 220);
    border-radius: 0px 40px 0px 40px;
    font-family: "playball";
}

.mango-elements:hover{
    box-shadow: 10px 15px 40px rgb(143, 7, 247);
    border: 5px solid rgb(, green, blue);
    border-radius:50px 0px 50px 0px
}

.img-container{
    width:45% ;
    height:120px ;
    margin-left: 70px ;
}

.article-container{
    height: 600px;
    background-color: beige;
    margin: 100px 0px ;
    width: 90%;
    margin:100px auto;
    font-family: "playball";
    font-size: 30px;
    text-align: center;

}

.footer-container{
    height: 400px;
    background-color: rgb(112, 112, 175);
    color: white;
    font-family: "playball";
    
}

  